<article draggable="true" class="wrapper">  
  <aside class="left-container">
    <div class="tool-bar">
<!--       <a class="install webkit" href="javascript: void((function() {var element = document.createElement('script');element.setAttribute('src', 'http://localhost:8080/build/case-editor.js');document.body.appendChild(element);})())"> -->
      </a>
    </div>
    <div class="files-nav">
      <article class="files-tree">
      </article>
    </div>
  </aside>

  <div class="tab files-content">
    <ul class="tab-nav"></ul>
    <div class="tab-content"></div>
  </div>
</article>
<div class="modal" style="display:none;" id="obj-modal"></div>
